
/* this is a reset and resets all the margin and padding before you even do anything
*{
    margin: 0;
    padding: 0;
}
*/

/* remember to put global elements at the top of the css! */

body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* does same thing as three lines above */
    font: normal 16x Arial, Helvetica, sans-serif;

    line-height: 1.6em;

    /* the space within the border*/
    padding: 20px;

    /* the space outside the border*/
    margin: 20px;
}

a{
    text-decoration: none;
    color: #000;

}

a:hover{
    color:red; /* when your mouse hovers over text*/
    
}

a:active{
    color: green; /* what happens when you click on the link */
}

/* this activates after the link has been visited before
 a:visited{
    color: purple;
}*/

.container{
    /* use percentages for containers for adaptive sizing*/
    width: 80%;
    margin: auto;
}

.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background: rgb(76, 199, 133);
    color: #fff;
}

/* clears any floats used above it */
.clr{
    clear: both; 
}

/* target classes with . */
.box-1{
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /* does same thing as four lines above */
    border: 5px red solid;
    border-top-style: dotted;

    /* remember that the code cascades
    so this next line overrides everything*/
    border: 5px red solid;

}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2 em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px;
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px; /* rounded corner box */

}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    padding-left: 20px; /* pushes over list so checkmarks are within box*/
    list-style: none;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url('checkmark.png');
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px; /* seperates lines of form a little bit */

}

.my-form label{
    display:block; /* sets an in-line element to be a block (take up an entire line) */
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float: left;
    width: 33.3%; /* creates columns of 3 */
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; /* applies padding to width so columns dont get messed up */
}

#main-block{
    float: left;
    width: 70%;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative; /* you need this if you want to use postion:absolute in child elements */
    background-image: url('bg-image.jpg');
    background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

.p-box h1{
    position: absolute; /* this is attached to whatever the parent element is (p-box) */
    top: 40px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top: 400px;
}

/* pseudo class */
.my-list li:first-child{
    background: cornflowerblue;
}

.my-list li:first-child{
    background: rgb(200, 86, 168);
}

.my-list li:nth-child(5){
    background: rgb(72, 55, 167);
}

.my-list li:nth-child(even){
    color: white;
    background: rgb(77, 77, 77);
}