html,body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.brand-flavortxt {
    position: relative;
    bottom: 20px;
}
body {
    background: rgb(29, 30, 56);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: rgb(29, 30, 56);
}
.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("https://img.freepik.com/free-vector/beautiful-watercolor-background_62951-42.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;

    position: relative;
    
}
.hero-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
nav {
    display: flex;
}
ul{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;

}
a:link {
    color: white;
    text-decoration: none;

}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(122, 122, 206);
}
.navi {
    
    background: rgb(34, 33, 107);
    border-radius: 15px;
    border-style: solid;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    width: 50%;
}
.page-title {
    display: table;
    margin: 10px auto 10px auto;
}
p {
    text-align: center;
}