body{
    background: rgb(58,58,58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: black;
    padding: 20px;
}
section{
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
div{
    background: rgb(216, 144, 144);
    margin: auto;
    width: 100px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}
footer{
    background: black;
    padding: 10px 20px;
}